#menuIcon {
    width: 30px;
    height: 30px;
}
body {
    margin: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background: black;
}

.headerImg {
    width: 100%;
    height: 130px;

   
}
#menu-bar {
    display: none;
}
header label{
    display: none;
    width: 30px;
    height: 30px;
    padding: 10px;
}
header label:hover {
    cursor: pointer;
    background: rgba(0,0,0, 0.26)
}
.menu ul {
    margin: 0;
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: flex-start;
}

.menu li:hover{
    background: rgba(0,0,0, 0.26);
}
.menu li button{
    display: block;
    padding: 15px 20px;
    color: #B90CBC;
    text-decoration: none;
    background: none;
    border: none;
}
.menu li img {
    width: 50px;
    height: auto;
    margin: 15px;
}
@media (max-width:768px) {
    header label{
       display: block;
    }
    .menu {
        position: absolute;
        background: rgba(24, 23, 23);
        width: 70%;
        margin-left: -70%;
        transition: all 0.5s;
    }
    .menu ul {
        flex-direction: column;
    }
    #menu-bar:checked ~ .menu {
        margin: 0;
    }
}
#styleTemplate {
    margin: 3px;
    background: none;
    width: 250px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
    color: yellow;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
#styleTemplate img{
    background: white;
    width: 250px;
}
#content {
    display: flex;
}
